.serviceSection {
  white-space: nowrap;
  background-color: #2a2d32;
  padding: 0 15px 30px;
}

.serviceSection span {
  display: block;
  margin-left: 15px;
  line-height: 100px;
  font-family: "MyriadPro-Regular", Arial,  sans-serif;
  font-size: 24px;
  color: #FFF;
  text-transform: capitalize;
}

.serviceSection__element {
  display: inline-block;
  width: 25%;
}
.serviceSection__element:hover figcaption {
  color: #f4b60d;
}
.serviceSection__element a {
  display: block;
}

.serviceSection__element figure {
  position: relative;
  display: inline-block;
  max-width: 90%;
  text-align:
  center;
}

.serviceSection__element img {
  max-width: 100%;
  max-height: 100%;
}

.serviceSection__element__hover {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}
.serviceSection__element__hover:hover {
  opacity: 0.7;
}

.serviceSection__element figcaption {
  line-height: 60px;
  font-family: "MyriadPro-Regular", Arial,  sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
}
